@import '../../global/var.scss';

.landing{
    width:100%;
    &-img{
        width:100%;
        margin-bottom:48px;
        img{
            width:inherit;
        }
    }
    &-copy{
        text-align: center;
        width: 80%;
        margin: auto;
        p{
            font-size:14px;
            font-weight:400;
        }
    }
}

