@import '../global/var.scss';

.products-cart {
    grid-column: 1/-1;
    grid-row: 4 / -4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .product-image{
        transition: 0.2s;
        transition-timing-function: ease;
        max-width: 200px;
    }
    .product-item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50%;
        height: 50%;
        align-items: center;
        justify-content: center;
        &:hover {
            .product-image {
                transform: rotate(-15deg)
            }
            .overlay-content {
                position: relative;
                bottom: 50px;
            }
        }
    }
    .overlay {
        width: 200px;
        position: relative;
        display: flex;
        // width: 200px;
        // position: relative;
        // display: flex;
        // align-self: flex-start;
        .overlay-content {
            align-self: center;
            position: relative;
            bottom: 0;
            transition: 0.2s;
            transition-timing-function: ease;
            .title {
                color: $red;
                font-weight: 900;
                font-size: 18px;
                letter-spacing: 2px;
                border-bottom: 1px solid $text;
                padding-bottom: 4px;
            }
            .price {
                padding-top: 8px;
                color: $text;
                font-weight: bold;
                display: flex;
                flex-direction: row;
                align-items: center;
                &-copy {
                    padding-right: 8px;
                    font-size: 12px;
                }
            }
        }
    }

    img {
        width:100%;
    }

}