.full-page {
    width: 100vw;
    height: 100vh;
    &--grid {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 16px repeat(12, 1fr) 16px;
        grid-template-rows: 16px repeat(12, 1fr) 16px;
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        position: relative;
    }
}

