.product-first-page {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    display: flex;
    padding-left: 12px;
    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        .button {
            display: block;
            float: left;
            text-align: center;
        }
    }
}

.product-first-page__with-menu {
    grid-row: 4/-1 !important;
}

.main-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 16px repeat(12, 1fr) 16px;
    grid-template-rows: 16px repeat(12, 1fr) 16px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    .product-grid {
        grid-row: 2 / -1;
        grid-column: 3 / -3;
        position: relative;
        display: flex;
        align-items: center;
        img {
            max-width: 500px;
        }
    }
}