@import '../global/var.scss';
nav {
    width: 100%; // min-width:240px;
    position: relative;
    .master-nav {
        li {
            //  margin-right:8px;
        }
    }
    ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        overflow: hidden;
        li {
            a {
                min-height: 24px;
                line-height: 24px;
                width: 100%;
                display: inline-block;
                padding: 8px 14px;
                text-transform: uppercase;
                color: $text;
                font-size: 13px;
                font-weight: bold;
                &:hover {
                    background-color: $text;
                    color: white;
                    opacity:1;
                }
            }
            .selected-first {
                background-color: $text;
                color: white;
                position: relative;
            }
            .selected-second {
                background-color: $red;
                // border-top: 1px solid $red !important;
                color: white;
            }
            .sub-item {
                // background-color: rgba(244, 244, 244, 0.6);
                // top:-0px;
                // position: relative;
                // border-top: 1px solid $text;
                opacity: 0.4;
            }
        }
    }
}

.pos-fixed {
    position: fixed;
    top: 0;
    width: 96%;
    left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 9;
    height:130px;
}
.pos-absolute{
    position: absolute;
    top: 0;
    width: 96%;
    left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 9;
    height:130px;
}

.cta-page {
    &__menu {
        grid-row: 2 / 4;
        grid-column: 2 / -2;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center; // position:fixed;
    }
    &__content {
        grid-row: 3 / -1;
        grid-column: 3 / -3;
        display: flex;
        justify-self: center;
        align-self: center;
    }
}