@import '../../../global/var.scss';
.b {
    &-action {
        position: relative;
        overflow:hidden;
        height:160px;
        .first {
            position: absolute;
            left: 0;
            width: 100%;
            background-color:white;
            .b-grind__item {
                width: 24%;
            }
        }
        .second {
            position: absolute;
            left: 110%;
            width: 100%;
            background-color:white;
            .b-grind__item {
                width: 33%;
            }
        }
        .third {
            position: absolute;
            left: 110%;
            width: 100%;
            background-color:white;

            .b-grind__item {
                width: 50%;
            }
        }

    }
    &-grind {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: -1%;
      //transition: ease-in 0.2s;
        &__item {
            display: flex;
            flex-direction: column;
            text-align: center;
            height: 142px;
            margin: 1%;
            background-color: #F4F4F4;
            cursor: pointer;
        }
        &__pagination{
            padding: 0 20%;
            margin-top:32px;
            span{
                padding: 4px 12px;
                opacity: 0.4;
                cursor: pointer;
            }
        }
    }
}

.selected {
    background-color: white;
    border: 1px solid $red;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    opacity: 1!important;
}

.hide {
    left: -100% !important;
}

.show {
    left: 0 !important;
    z-index: 5;
}

.one{
    &:active{
        background-color:black;
    }
}