@import '../../../global/var.scss';
.buy {
    min-width: 560px;
    h2 {
        font-size: 42px;
        color: $red;
    }
    &-description {
        max-width: 75%;
        font-weight: 600;
    }
}