.logo {
    height: auto;
    display: block;
    svg {
        height: auto;
    }
    #small {
        width: 190px;
    }
    #big {
        width: 150px;
        height: 95px;
        zoom: 3;
    }
}