@import '../../../global/var.scss';

.intro-copy{
    text-align: left;
    &-big{
        color:$red;
        font-size:52px;
    }
    &-medium{
        color:$text;
        font-size: 32px;
    }
}