.product{
    &-nazwa{
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    &-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    &-landing{
        img{
        max-height: 700px;
        }
    }
}
