@import '../../../global/var.scss';
.prawo {
    width: 100%;
    ul {
        padding: 0;
    }
}

.q {
    &-icon{
        display: inline-block;
        align-self: flex-start;
    }
    &-container {
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: row;
        svg {
            width: 64px;
            height: 64px;
        }
    }
    .toggle-box {
        display: none;
    }
    .toggle-box+label {
        display: block;
        height:auto;
    }
    .toggle-box+label+div {
        display: none;
    }
    .toggle-box:checked+label+div {
        display: block;
    }
    &-question {
        padding-left: 24px;
        font-size: 18px; 
        font-weight: 900;
        color: $red;
        cursor: pointer;
        width: 100%;
        line-height: 64px;
    }
    &-answer {
        padding-left: 24px;
    }
}