@import '../var.scss';
.quantity {
    &-cart {
        width: 100%;
        button {
            width: 50px;
            height: 50px;
            border: 0;
            background: rgba(#E5E5E5, .3);
            font-size: 32px;
            color: $red;
            font-weight: 900;
            cursor: pointer;
            &:hover {
                color: white;
                background-color: $red;
            }
        }
    }
    &-input {
        display: flex;
        justify-content: space-between;
        width: 100%;
        input {
            background: none;
            border: 0;
            font-size: 24px;
            padding: 0 16px;
            text-align: center;
            &::selection {
                background-color: yellow;
            }
        }
    }
}

.hide-content {
    display: none;
    font-size: 24px;
}