
@import '../../global/var.scss';



.full-page {
    &__column {
        color: white;
        grid-row: 2 / -2;
        grid-column: 3 / -3;
        display:flex;
        justify-content: center;
    }
    &__intro {
        color:$text;
        min-width: 450px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
    }
    .copy{
        margin-top:100px;
        max-width: 400px;
        text-align: center;
        
        p{
            margin-top:24px;
        }
        .first-page-cta{
            margin-top:24px;
            font-weight:900;
            width: 280px;
            align-self: center;
        }
    }
}
