@font-face {
    font-family: "RemSans";
    src: url("../../font/BBCReithSans_W_Rg.woff2") format("woff2"), url("../../font/BBCReithSans_W_Rg.woff") format("woff");
    font-display: swap;
  }
  
  @font-face {
    font-family: "RemSans";
    src: url("../../font/BBCReithSans_W_It.woff2") format("woff2"), url("../../font/BBCReithSans_W_It.woff") format("woff");
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "RemSans";
    src: url("../../font/BBCReithSans_W_Bd.woff2") format("woff2"), url("../../font/BBCReithSans_W_Bd.woff") format("woff");
    font-weight: bold;
    font-display: swap;
  }
  
  @font-face {
    font-family: "RemSans";
    src: url("../../font/BBCReithSans_W_BdIt.woff2") format("woff2"), url("../../font/BBCReithSans_W_BdIt.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face { 
    font-family: "RemSans";
    src: url("../../font/BBCReithSans_W_Lt.woff2") format("woff2"), url("../../font/BBCReithSans_W_Lt.woff") format("woff");
    font-weight: 300;
    font-display: swap;
  }
  
  @font-face {
    font-family: "RemSans";
    src: url("../../font/BBCReithSans_W_LtIt.woff2") format("woff2"), url("../../font/BBCReithSans_W_LtIt.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "RemSans";
    src: url("../../font/BBCReithSans_W_ExBd.woff2") format("woff2"), url("../../font/BBCReithSans_W_ExBd.woff") format("woff");
    font-weight: 800;
    font-display: swap;
  }
  
  @font-face {
    font-family: "RemSans";
    src: url("../../font/BBCReithSans_W_ExBdIt.woff2") format("woff2"), url("../../font/BBCReithSans_W_ExBdIt.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "ReithSerif";
    src: url("../../font/BBCReithSerif_W_Rg.woff2") format("woff2"), url("../../font/BBCReithSerif_W_Rg.woff") format("woff");
    font-display: swap;
  }
  
  @font-face {
    font-family: "ReithSerif";
    src: url("../../font/BBCReithSerif_W_It.woff2") format("woff2"), url("../../font/BBCReithSerif_W_It.woff") format("woff");
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "ReithSerif";
    src: url("../../font/BBCReithSerif_W_Bd.woff2") format("woff2"), url("../../font/BBCReithSerif_W_Bd.woff") format("woff");
    font-weight: bold;
    font-display: swap;
  }
  
  @font-face {
    font-family: "ReithSerif";
    src: url("../../font/BBCReithSerif_W_BdIt.woff2") format("woff2"), url("../../font/BBCReithSerif_W_BdIt.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "ReithSerif";
    src: url("../../font/BBCReithSerif_W_Lt.woff2") format("woff2"), url("../../font/BBCReithSerif_W_Lt.woff") format("woff");
    font-weight: 300;
    font-display: swap;
  }
  
  @font-face {
    font-family: "ReithSerif";
    src: url("../../font/BBCReithSerif_W_LtIt.woff2") format("woff2"), url("../../font/BBCReithSerif_W_LtIt.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "ReithSerif";
    src: url("../../font/BBCReithSerif_W_ExBd.woff2") format("woff2"), url("../../font/BBCReithSerif_W_ExBd.woff") format("woff");
    font-weight: 800;
    font-display: swap;
  }
  
  @font-face {
    font-family: "ReithSerif";
    src: url("../../font/BBCReithSerif_W_ExBdIt.woff2") format("woff2"), url("../../font/BBCReithSerif_W_ExBdIt.woff") format("woff");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }