@import './var.scss';
@import './font.scss';
// Set box-sizing globally to handle padding and border widths
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sr-only {
    display: none;
}

html {
    font-family: "RemSans", Helvetica, Arial, freesans, sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "RemSans", Helvetica, Arial, freesans, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}


.button {
    padding: 16px 32px;
    background: $red;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    top: 44px;
    margin-right: 8px;
    position: relative;
    font-weight: 900;
    min-width:150px;
    &:hover {
        background: darken($red, 20%);
    }
}

.lines{
    border: 1px solid $red;
    color: $red;
    background: transparent;
    &:hover{
        border-color: $text;
        background: $text;
        color:white;
    }
}
.button-text {
    padding: 4px 16px;
    border-bottom: 2px solid $red;
    color: $red;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    &:hover {
        border: 2px solid $red;
        padding: 4px 14px;
    }
}

a {
    text-decoration: none;
}

.cta-copy {
    text-transform: uppercase;
    color: $red;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

.intro {
    text-transform: uppercase;
    h1 {
        position: absolute;
        top:0;
        margin: 0;
        padding:8px 16px;
        background: white;
        &:last-child{
            color: $red;
        }
    }
}